[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
opencv-python = "*"
nltk = "*"
sklearn = "*"
face-recognition = "*"
dlib = "*"

[requires]
python_version = "3.7"
